<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Địa Chỉ Chi Nhánh</title>
</head>
<body>

<!--ĐOẠN CODE NÀY TẠO ICON COFFEE VÀ TÊN THƯƠNG HIỆU-->
<h1 style="text-align:center;font-size:25px"><strong>BẢN ĐỒ CÁC CHI NHÁNH CỦA <span style="color:#ff8c00;font-size:35px" >TYN COFFEE STORE</span> TRÊN TOÀN QUỐC</strong></h1>
<a th:href="@{/}" class="custom-button">
    <button style="width:200px;height:50px;font-size:18px;color:#ff0000;margin-top:-250px;border-radius: 10px;border: 4px solid #0079ff;background-color: #FFEB3B;"><strong>Trang Chủ</strong></button>
</a>
<!--ĐOẠN CODE NÀY TẠO ICON COFFEE VÀ TÊN THƯƠNG HIỆU-->

<img class="diachi" style="width:550px;height:400px;margin-top:-20px" src="img/diachichinhanh.gif" alt="ảnh gif đã nhận được email">
<style>
    .diachi {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Điều chỉnh chiều cao container để căn giữa ảnh */
      display: block;
      margin: 0 auto;
    }
  </style>

<img class="duongphanchia" src="img/duongphanchia.png">
<style>
    .duongphanchia {
      display: flex;
      justify-content: center;
      align-items: center;
      display: block;
      margin: 0 auto;
    }
  </style>

<div style="margin-left:150px;margin-top:40px" class="f-icon">
<img src="img/locationgg.png" alt="@{/}" style="width:60px;height: 70px;margin-left:20px;">
<h6 style="font-size:25px;margin-left:90px;margin-top:-30px">249 Hoàng Văn Thụ, Phường 1, Tân Bình, Thành phố Hồ Chí Minh</h6>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.144241483038!2d106.66338807457515!3d10.800262658754544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292fc0a8fbcb%3A0xdc5d3482ac4a533!2zMjQ5IEhvw6BuZyBWxINuIFRo4bulLCBQaMaw4budbmcgMSwgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1699696031119!5m2!1svi!2s" width="1200" height="400" style="border:0;border-radius: 20px;margin-left:20px;margin-top:-50px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<a th:href="@{https://maps.app.goo.gl/pkuTcQ2Z2yUN12wC9}" class="custom-button">
    <button style="width:250px;height:30px;font-size:18px;color:#ff0000;margin-left:170px;margin-top:5px;border-radius: 20px;border: 4px solid #0079ff;background-color: #FFEB3B;"><strong>Xem Bản Đồ Đầy Đủ</strong></button>
</a>


<div style="margin-left:150px;margin-top:40px" class="f-icon">
    <img src="img/locationgg.png" alt="@{/}" style="width:60px;height: 70px;margin-left:20px;">
    <h6 style="font-size:25px;margin-left:90px;margin-top:-30px">79 Phan Kế Bính, Đa Kao, Quận 1, Thành phố Hồ Chí Minh</h6>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.538809525376!2d106.6949044!3d10.7699826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cab9454b01%3A0x817ffd8faf416da4!2zNzkgUGhhbiBL4bq_IELDrW5oLCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1699751244886!5m2!1svi!2s" width="1200" height="400" style="border:0;border-radius: 20px;margin-left:20px;margin-top:-50px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<a th:href="@{https://maps.app.goo.gl/pYjKCMZeYbZ8r6CLA}" class="custom-button">
    <button style="width:250px;height:30px;font-size:18px;color:#ff0000;margin-left:170px;margin-top:5px;border-radius: 20px;border: 4px solid #0079ff;background-color: #FFEB3B;"><strong>Xem Bản Đồ Đầy Đủ</strong></button>
</a>

<div style="margin-left:150px;margin-top:40px" class="f-icon">
    <img src="img/locationgg.png" alt="@{/}" style="width:60px;height: 70px;margin-left:20px;">
    <h6 style="font-size:25px;margin-left:90px;margin-top:-30px">03 Trần Hưng Đạo, Phường Nguyễn Thái Bình, Quận 1, Thành phố Hồ Chí Minh</h6>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.538878491861!2d106.6974793!3d10.769977299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3fa9200ccd%3A0x942a2a563c5895a2!2zMDMgxJAuIFRy4bqnbiBIxrBuZyDEkOG6oW8sIFBoxrDhu51uZyBOZ3V54buFbiBUaMOhaSBCw6xuaCwgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1699751284432!5m2!1svi!2s" width="1200" height="400" style="border:0;border-radius: 20px;margin-left:20px;margin-top:-50px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<a th:href="@{https://maps.app.goo.gl/bMSJw19fYNxUCqiZA}" class="custom-button">
    <button style="width:250px;height:30px;font-size:18px;color:#ff0000;margin-left:170px;margin-top:5px;border-radius: 20px;border: 4px solid #0079ff;background-color: #FFEB3B;"><strong>Xem Bản Đồ Đầy Đủ</strong></button>
</a>

<div style="margin-left:150px;margin-top:40px" class="f-icon">
    <img src="img/locationgg.png" alt="@{/}" style="width:60px;height: 70px;margin-left:20px;">
    <h6 style="font-size:25px;margin-left:90px;margin-top:-30px">59 Vinhome Ocean Park, Đại Dương, Đa Tốn, Gia Lâm, Hà Nội</h6>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.9460731416593!2d105.93325767476831!3d20.99479868894512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313526c71d609a27%3A0x83dfd0b056b3fb19!2sVINHOME%20OCEAN%20PARK!5e0!3m2!1svi!2s!4v1699751337087!5m2!1svi!2s" width="1200" height="400" style="border:0;border-radius: 20px;margin-left:20px;margin-top:-50px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<a th:href="@{https://maps.app.goo.gl/QzGUajxGoRCDMMuJ7}" class="custom-button">
    <button style="width:250px;height:30px;font-size:18px;color:#ff0000;margin-left:170px;margin-top:5px;border-radius: 20px;border: 4px solid #0079ff;background-color: #FFEB3B;"><strong>Xem Bản Đồ Đầy Đủ</strong></button>
</a>






</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


</body>
</html>