<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>GỬI EMAIL THÀNH CÔNG</title>
  <link rel="icon" href="/img/icon_email.png">
</head>
<body>

<div>
  <h1 style="font-size:30px;text-align:center;font-weight: bold; color:#ff0000">BẠN ĐÃ GỬI EMAIL THÀNH CÔNG !!!</h1>
  <p style="font-size:30px;text-align:center;font-weight: bold;color:#00ff18"><span style="color: #ffa200;font-size:50px"> TYN COFFEE STORE </span> CHÚC BẠN NGÀY MỚI TỐT LÀNH</p>
</div>

<div>
  <img style="width:550px;height:300px;margin-left:500px" src="img/danhanemail.gif" alt="ảnh gif đã nhận được email">

<!--ĐOẠN CODE NÀY KẾT HỢP HIỂN THỊ DÒNG CHỮ ĐÃ NHẬN EMAIL CỦA QUÝ KHÁCH, KẾT HỢP CÙNG VỚI ẢNH GIF-->
<!-- <p style="font-size:30px;text-align:center;font-weight: bold;color:#006cff" id="text">TYN COFFEE STORE ĐÃ NHẬN ĐƯỢC EMAIL CỦA QUÝ KHÁCH </br> CHÚNG TÔI SẼ PHẢN HỒI EMAIL CỦA QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT</p> -->
  <div class="message-da-nhan-email">
    <div style="font-size:30px;text-align:center;font-weight: bold;color:#006cff" class="message">TYN COFFEE STORE ĐÃ NHẬN ĐƯỢC EMAIL CỦA QUÝ KHÁCH </br> CHÚNG TÔI SẼ PHẢN HỒI EMAIL CỦA QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT</div>
  </div>
  <style>
.message-da-nhan-email {
  animation: show-message 15s;
}

@keyframes show-message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
<!--ĐOẠN CODE NÀY KẾT HỢP HIỂN THỊ DÒNG CHỮ ĐÃ NHẬN EMAIL CỦA QUÝ KHÁCH, KẾT HỢP CÙNG VỚI ẢNH GIF-->
</div>


</br>
</br>

<a th:href="@{/}" class="custom-button">
  <button style="width:200px;height:50px;font-size:18px;color:#ff0000;margin-top:-250px;border-radius: 10px;border: 4px solid #0079ff;background-color: #FFEB3B;margin-left:680px"><strong>Trang Chủ</strong></button>
</a>







</body>
</html>
