<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<head th:replace="fragments :: head">
  <title>Reuters: Việt Nam sẽ khởi động lại mỏ đất hiếm vào năm tới</title>
</head>
<body>
<!-- Start Header Area -->
<header th:replace="fragments :: header" class="header_area sticky-header">
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section th:replace="fragments :: banner('TYN Store Xin Chào!')" class="banner-area organic-breadcrumb">
</section>
<!-- End Banner Area -->

<!-- start features Area -->
<style>
        bodddy {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .tintuc {
            max-width: 800px;
            text-align: justify;
        }
        .noidung {
            color:black;
        }

    </style>
<bodddy>
  <div class="tintuc">
    </br>
    <p style="text-align: center;color:black;font-size: 40px"><strong >Reuters: Việt Nam sẽ khởi động lại</strong></p>
    <p style="text-align: center;color:black;font-size: 40px"><strong >mỏ đất hiếm vào năm tới</strong></p>
    <div class="noidung" style="font-size:20px;margin-top:30px">
      <p style="font-size:16px"><strong>"Động thái sẽ hướng tới mục tiêu của quốc gia Đông Nam Á này là xây dựng chuỗi cung ứng đất hiếm, bao gồm phát triển năng lực tinh chế quặng thành kim loại dùng trong nam châm cho xe điện, điện thoại thông minh và tua bin gió", theo Reuters.</strong></p>
      <p><strong>Giảm sự "thống trị" của Trung Quốc về đất hiếm</strong></p>
      <p>Theo Reuters, Việt Nam có kế hoạch khởi động lại mỏ đất hiếm lớn nhất vào năm tới với một dự án do phương Tây hậu thuẫn - có thể sánh ngang với dự án lớn nhất thế giới. Đây như một phần trong nỗ lực rộng lớn hơn nhằm giảm bớt sự thống trị của Trung Quốc trong lĩnh vực giúp thúc đẩy các công nghệ tiên tiến.</p>
      <p>Bà Tessa Kutscher - Giám đốc điều hành của Blackstone Minerals - cho biết, bước đầu Chính phủ Việt Nam dự định tổ chức đấu thầu nhiều lô tại mỏ đất hiếm Đông Pao (tỉnh Lai Châu) trước cuối năm nay.</p>
      <p>Còn ông Lưu Anh Tuấn - Chủ tịch HĐQT Công ty CP Đất hiếm Việt Nam (VTRE) và là đối tác của Blackstone trong dự án - nói, thời gian đấu thầu có thể thay đổi, nhưng Chính phủ có kế hoạch khởi động lại mỏ vào năm tới.</p>
      <img style="width: 800px; height: 500px" src="hinhanhtintuc/tintuc2_270923.jpg">
      <p style="margin-top:10px">Bài báo cho rằng, đề xuất khởi động lại mỏ Đông Pao diễn ra khi nhiều quốc gia lo ngại về khả năng bị gián đoạn nguồn cung do các khoáng sản chiến lược mà Trung Quốc đang "thống trị", bên cạnh đó là căng thẳng của nước này với Mỹ và các quốc gia đồng minh.</p>
      <p>Theo Cơ quan Khảo sát địa chất Mỹ, Việt Nam có trữ lượng đất hiếm lớn thứ hai thế giới, nhưng phần lớn chúng vẫn chưa được khai thác, cũng như không được khuyến khích đầu tư vì mức giá bán thấp do Trung Quốc ấn định. Trung Quốc gần như độc quyền đất hiếm trên thị trường toàn cầu. Thế nên, đến Hà Nội trong tháng 9 để nâng cấp quan hệ song phương, Tổng thống Mỹ Joe Biden đã ký một thỏa thuận nhằm tăng cường khả năng thu hút các nhà đầu tư vào trữ lượng đất hiếm của Việt Nam.</p>
      <p><strong>Việc sản xuất có thể bắt đầu vào cuối năm 2024?</strong></p>
      <p>Trong các cuộc phỏng vấn với Reuters, 12 giám đốc điều hành, nhà đầu tư, nhà phân tích và quan chức nước ngoài đã mô tả kế hoạch dành cho Việt Nam. "Một số thừa nhận những khó khăn trong việc hình thành một trung tâm đất hiếm, nhưng nước cờ này có thể khiến Việt Nam trở thành một bên tham gia khả thi đồng thời xoa dịu những lo lắng về mặt chiến lược, ngay cả khi Trung Quốc vẫn chiếm ưu thế", bài báo viết.</p>
      <p>Bà Tessa Kutscher thông tin, khoản đầu tư của Blackstone vào dự án có trị giá khoảng 100 triệu USD. Hiện Blackstone đang trao đổi với các khách hàng tiềm năng, bao gồm các nhà sản xuất ô tô điện VinFast và Rivian về các hợp đồng khả thi. Mức giá ấn định sẽ bảo vệ các nhà cung cấp khỏi biến động và đảm bảo cho người mua một chuỗi cung ứng an toàn. Tuy vậy, người phát ngôn của công ty mẹ VinFast cho biết đơn vị phụ trách thu mua nguyên liệu thô của tập đoàn là VinES, không có kế hoạch hiện tại với Blackstone liên quan đến đất hiếm. Còn Rivian đã không trả lời câu hỏi của phóng viên Reuters.</p>
      <img style="width: 800px; height: 500px" src="hinhanhtintuc/tintuc1_270923.jpg">
      <p style=";margin-top:10px">Reuters cho rằng, trong những năm gần đây, các nhà đầu tư Nhật Bản như Toyota Tsusho và Sojitz đã từ bỏ các dự án tại Dong Pao sau khi Trung Quốc tăng nguồn cung, khiến giá cả sụt giảm. Tuy nhiên, ông Dylan Kelly, Công ty đầu tư Terra Capital, cho biết, mặc dù tập trung vào việc giảm rủi ro, nhưng vẫn chưa rõ liệu khách hàng có sẵn sàng trả thêm tiền cho Việt Nam hay không. Đồng thời lưu ý rằng thị trường nói chung vẫn chưa rõ ràng.</p>
      <p>Theo một đại diện từ Công ty CP Đất hiếm Lai châu - Vimico (Lavreco), mỏ Đông Pao đã không hoạt động trong ít nhất 7 năm. Nếu được khai thác hiệu quả, sẽ đưa Việt Nam trở thành nhóm sản xuất đất hiếm hàng đầu. Nhưng việc tinh chế đất hiếm rất phức tạp và Trung Quốc kiểm soát nhiều công nghệ tinh chế. </p>
      <p>Ông Tuấn cho biết, VTRE kỳ vọng giành được nhượng quyền cho phép họ khai thác khoảng 10.000 tấn oxit đất hiếm (REO) mỗi năm, gần 1/3 sản lượng dự kiến hàng năm của mỏ. Và việc sản xuất "có thể bắt đầu vào khoảng cuối năm 2024".</p>
      <p>Ngoài ra, bài báo cũng thông tin Việt Nam có kế hoạch phát triển thêm các mỏ khác nữa. Tháng 7 vừa qua, Việt Nam đặt mục tiêu sản xuất tới 60.000 tấn REO mỗi năm cho tới năm 2030. Trong khi Trung Quốc đặt hạn ngạch nội địa là 210.000 tấn vào năm ngoái. Mặt khác, VTRE cũng đang có kế hoạch từ khai thác quặng đến các sản phẩm cuối cùng là nam châm trong chuỗi khai thác đất hiếm này. Tuy vậy, điều này không hề dễ dàng. Thậm chí, ngay như Mỹ hiện cũng xuất khẩu quặng đất hiếm sang Trung Quốc để tinh chế, vì thiếu cơ sở sản xuất.</p>
      <p>Sau khi được tách ra, các oxit sẽ được chuyển thành kim loại để sử dụng trong nam châm và các ứng dụng công nghiệp khác. Theo Bộ Năng lượng Mỹ, quá trình kim loại hóa được kiểm soát bởi Trung Quốc - quốc gia sản xuất 90% kim loại đất hiếm.</p>
      <p>Một nhà máy VTRE hiện có ở Việt Nam chuyên tách oxit đất hiếm khỏi quặng đã khai thác. Ông Tuấn cho biết, nhà máy có công suất xử lý 5.000 tấn REO mỗi năm, nhưng công ty có kế hoạch tăng gấp ba công suất đó để đáp ứng đầu vào từ mỏ Đông Pao. VTRE cũng đang thực hiện một dự án thí điểm xây dựng nhà máy luyện kim với Tập đoàn Setopia của Hàn Quốc - công ty chưa có kinh nghiệm trước đây trong lĩnh vực này.</p>


    </div>
  </div>
</bodddy>





<p style="text-align: center;color:black;font-size: 40px;margin-top:100px"><strong >TIN TỨC LIÊN QUAN</strong></p>
<!-- end features Area -->











<!-- start footer Area -->
<footer th:fragment="footer" class="footer-area section_gap"style="margin-top:500px">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Thông Tin Liên Hệ</h6>
          <p>
            Số điện thoại: 0931103224
            Email: tyncoffestore@gmail.com
          </p>
        </div>
      </div>
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Nhận thông báo mới</h6>
          <p>Cập nhật tin tức mới nhất</p>
          <div class="@{/}" id="mc_embed_signup">

            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                  method="get" class="form-inline">

              <div class="d-flex flex-row">

                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                       required="" type="email">


                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="@{/}" type="text">
                </div>

                <!-- <div class="col-lg-4 col-md-4">
                            <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                        </div>  -->
              </div>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget mail-chimp">
          <h6 class="mb-20">Đối tác</h6>
          <ul class="instafeed d-flex flex-wrap">
            <li><img src="/img/elements/classiccoffe_doitac.jpg"/></li>
            <li><img src="/img/elements/coffehouse_doitac.png" alt="@{/}"></li>
            <li><img src="/img/elements/trungnguyen_doitac.jpg" alt="@{/}"></li>
            <li><img src="/img/elements/congcafe_doitac.jpg" alt="@{/}"></li>
            <li><img src="/img/elements/phuclong_doitac.jpg" alt="@{/}"></li>
            <li><img src="/img/elements/highland_doitac.jpg" alt="@{/}"></li>
            <li><img src="/img/elements/nescafe_doitac.png" alt="@{/}"></li>
            <li><img src="/img/elements/vinacafe_doitac.png" alt="@{/}"></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Theo dõi chúng tôi</h6>
          <p>Các trang mạng xã hội</p>
          <div class="footer-social d-flex align-items-center">
            <a th:href="@{/}"><i class="fa-brands fa-facebook-square"></i></a>
            <a th:href="@{/}"><i class="fa-brands fa-instagram"></i></a>

          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
      <p class="footer-text m-0">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Đồ Án Chuyên Ngành: Bản Quyền Thuộc Về Huỳnh Vĩnh Tiến 2011061897 20DTHB2
      </p>
    </div>
  </div>
</footer>
<!-- End footer Area -->

<div th:fragment="scripts">
  <script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
          crossorigin="anonymous"></script>
  <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/js/jquery.nice-select.min.js}"></script>
  <script th:src="@{/js/jquery.sticky.js}"></script>
  <script th:src="@{/js/nouislider.min.js}"></script>
  <script th:src="@{/js/countdown.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script th:src="@{/js/gmaps.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
</div>

</body>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>

<style>

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 43px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>


<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</html>