<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/ghichu_style.css}">
<link rel="stylesheet" th:href="@{/css/button_ontop.css}">
<link rel="stylesheet" th:href="@{/css/dropdown_button_bentrai.css}">
<link rel="stylesheet" th:href="@{/css/popup_thongbao_2luachon_email.css}">
<link rel="stylesheet" th:href="@{/css/maytinhpopup.css}">
<link rel="stylesheet" th:href="@{/css/chatbot_popup.css}">

<head th:replace="fragments :: head">
  <title>TRUNG THU ĐOÀN VIÊN - THỨC VỊ TÌNH THÂN</title>
</head>
<body>
<!-- Start Header Area -->
<header th:replace="fragments :: header" class="header_area sticky-header">
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section th:replace="fragments :: banner('TYN Store Xin Chào!')" class="banner-area organic-breadcrumb">
</section>
<!-- End Banner Area -->

<!-- start features Area -->
<style>
        bodddy {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .tintuc {
            max-width: 800px;
            text-align: justify;
        }
        .noidung {
            color:black;
        }

    </style>

<div class="listdanhmuctintuc" style="background-color:#f5f5f5;padding:5px;">
  <nav style="margin-left:100px;">
    <a href="/">Trang Chủ</a> >
    <a href="/ListThongTinUuDaiCoffee">Thông Tin Ưu Đãi</a> >
    <span>THÔNG TIN ƯU ĐÃI THÁNG 11/2023</span>
  </nav>
</div>

<bodddy>
  <div class="tintuc">
    </br>
    <p style="text-align: center;color:black;font-size: 30px"><strong>THÔNG TIN ƯU ĐÃI THÁNG 11/2023</strong></p>
    <h1 style="font-size:15px;margin-top:20px;"><strong>Người viết: Nguyễn Xuân lúc 10.09.2023  <a href="ListThongTinUuDaiCoffee">Thông Tin Ưu Đãi</a></strong></h1>
    <div class="noidung" style="font-size:20px;margin-top:20px">
      <p>Reng reng... Bạn đã sẵn sàng “chill” dưới cơn mưa ưu đãi cùng Chuk Tea & Coffee chưa? Cùng điểm danh các Promotion sẽ xuất hiện trên hệ thống cửa hàng của Chuk Tea & Coffee nhé!!! </p>

      <p style="margin-top:10px;margin-left:30px;"><span><strong>1. CUỐI TUẦN CỰC CHILL:</strong> với ưu đãi đặc biệt: GIẢM 30% với bất kì sản phẩm nào</span></p>
      <p style="margin-left:60px;margin-bottom:50px;">Thời gian áp dụng: Thứ 6 - thứ 7 - Chủ nhật (hằng tuần).</p>

      <p style="margin-top:10px;margin-left:30px;"><span><strong>2. NGÀY MỚI HỨNG KHỞI:</strong> ưu đãi đồng giá 19k với các sản phẩm Cà Phê Đen Đá và Cà Phê Sữa Đá</span></p>
      <p style="margin-left:60px;margin-bottom:50px;">Thời gian áp dụng: Trước 11h từ thứ 2 đến thứ 5 hàng tuần.</p>
      <p style="margin-top:10px;margin-left:30px;"><span><strong>3. ĐẦU TUẦN HỐI HẢ:</strong><span> Combo Cà Phê và Thức Uống Khác </span><span><strong>Chỉ 39K</strong></span> Cà Phê(Cà Phê Đen Đá và Cà Phê Sữa Đá) và Thức Uống Khác(Trà Chanh Muối Thanh Nhiệt và Nước Ép Cam Sữa)</span></p>
      <p style="margin-left:60px;margin-bottom:50px;">Thời gian áp dụng: Trước 11h từ thứ 2 đến thứ 5 hàng tuần.</p>

      <p style="margin-top:10px;margin-left:30px;"><span><strong>4. HAPPY HOUR:</strong> Thưởng thức CAFE TRÀ SỮA FULL TOPPING (Topping gồm: Bánh Flan, Thạch Đen Cao Bằng và Kem Phô Mai Muối Biển) <span><strong>CHỈ 15K</strong></span> </span></p>
      <p style="margin-left:60px;margin-bottom:50px;"><span><strong>Thời gian áp dụng: 14 - 16h</strong></span> vào thứ 3 hằng tuần.</p>

      <p style="margin-top:10px;margin-left:30px;"><strong>5. ƯU ĐÃI “KHỦNG” CHO ĐƠN HÀNG LỚN NHÂN NGÀY NHÀ GIÁO VIỆT NAM 20/11</strong></p>
      <p style="margin-left:55px;">Giảm 10% cho đơn hàng từ 1.000.000 VND đến 2.000.000 VNĐ.</p>
      <p style="margin-left:55px;">Giảm 15% cho đơn hàng từ 2.000.000 VND trở lên.</p>
      <p style="margin-bottom:50px;margin-left:55px;">Thời gian áp dụng: Duy nhất trong ngày 20/11.</p>

      <p style="margin-top:10px;margin-left:30px;"><strong>6. KHAO ĐẬM ĐÀ VỚI CHUỖI DEAL LỚN NGÀY BLACK FRIDAY</strong></p>
      <p style="margin-left:55px;">Chỉ 6k cho 1 Thức Uống Khác (Trà Chanh Muối Thanh Nhiệt)</p>
      <p style="margin-bottom:50px;margin-left:55px;">Thời gian áp dụng: Thứ 7 và Chủ Nhật (25 và 26/11)</p>

      <p style="margin-top:10px;"><strong>Lưu Ý:</strong></p>
      <p style="margin-left:55px;">Các ưu đãi KHÔNG áp dụng lễ, Tết và KHÔNG áp dụng đồng thời các ưu đãi khác</p>
      <p style="margin-left:55px;">Áp dụng đối với tất cả khách hàng trực tiếp tại cửa hàng</p>
      <p style="margin-left:55px;">Không áp dụng đồng thời các ưu đãi thanh toán ví điện tử (Momo/VNPay/MB/ZaloPay) và các đối tác giao hàng (GrabFood, ShopeeFood, GoFood, Baemin, LoShip, beFood, …)</p>
    </div>
  </div>
</bodddy>





<p style="text-align: center;color:black;font-size: 40px;margin-top:100px"><strong >TIN TỨC LIÊN QUAN</strong></p>
<!-- end features Area -->

<!-- ĐOẠN CODE NÀY DÙNG ĐỂ TẠO NÚT ĐIỀU HƯỚNG SANG TRÁI VÀ SANG PHẢI ĐỂ ĐIỀU HƯỚNG TIN TỨC LIÊN QUAN -->

<div class="product-container">
  <button class="nav-button prev-button" id="prev-button">
    <i class="fas fa-chevron-left"></i>
  </button>
  <div class="product-wrapper">
    <div class="product-list">
      <div class="product-item">
        <img src="img/logo.jpg" alt="Sản phẩm 1">
        <h3>Sản phẩm 1</h3>
        <p>Mô tả sản phẩm 1</p>
      </div>
      <div class="product-item">
        <img src="img/logo.jpg" alt="Sản phẩm 1">
        <h3>Sản phẩm 1</h3>
        <p>Mô tả sản phẩm 2</p>
      </div>
      <div class="product-item">
        <img src="img/logo.jpg" alt="Sản phẩm 1">
        <h3>Sản phẩm 1</h3>
        <p>Mô tả sản phẩm 3</p>
      </div>
      <div class="product-item">
        <img src="img/logo.jpg" alt="Sản phẩm 1">
        <h3>Sản phẩm 1</h3>
        <p>Mô tả sản phẩm 4</p>
      </div>
      <div class="product-item">
        <img src="img/logo.jpg" alt="Sản phẩm 1">
        <h3>Sản phẩm 1</h3>
        <p>Mô tả sản phẩm 5</p>
      </div>
      <div class="product-item">
        <img src="img/logo.png" alt="Sản phẩm 1">
        <h3>Sản phẩm 1</h3>
        <p>Mô tả sản phẩm 6</p>
      </div>

    </div>
  </div>
  <button class="nav-button next-button" id="next-button">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>

<style>
.product-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #555;
  transition: color 0.3s, transform 0.3s;
}

.nav-button:hover {
  color: #333;
  transform: scale(1.1) translateY(-50%);
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

.fa-chevron-left,
.fa-chevron-right {
  display: inline-block;
  font-size: 24px;
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.product-wrapper {
  overflow: hidden;
  width: 80%;
  margin: 0 20px;
}

.product-list {
  display: flex;
  transition: transform 0.3s;
}

.product-item {
  flex: 0 0 20%;
  padding: 20px;
  text-align: center;
}

.product-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 200px;
  height: 80px;
}

.product-item h3 {
  margin-bottom: 5px;
}

.product-item p {
  color: #888;
  font-size: 14px;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

<script>
const prevButton = document.getElementById('prev-button');
const nextButton = document.getElementById('next-button');
const productWrapper = document.querySelector('.product-wrapper');

prevButton.addEventListener('click', () => {
  productWrapper.scrollBy({
    left: -productWrapper.offsetWidth,
    behavior: 'smooth'
  });
});

nextButton.addEventListener('click', () => {
  productWrapper.scrollBy({
    left: productWrapper.offsetWidth,
    behavior: 'smooth'
  });
});
</script>

<!-- ĐOẠN CODE NÀY DÙNG ĐỂ TẠO NÚT ĐIỀU HƯỚNG SANG TRÁI VÀ SANG PHẢI ĐỂ ĐIỀU HƯỚNG TIN TỨC LIÊN QUAN -->

<!--ĐOẠN CODE TẠO MENU BUTTON GIÚP LÀM GỌN 4 BUTTON TRONG 1 MENU-->
<div style="top: 0;left: 0;position: fixed;margin-left:20px;margin-top:620px" class="dropdown2">
  <button class="dropbtn">
    <img style="width:60px;height:60px;border-radius:50px" src="https://w7.pngwing.com/pngs/68/239/png-transparent-number-computer-icons-plus-miscellaneous-game-plus.png">
  </button>
  <div style="margin-top:-370px;margin-left:-10px;border-radius:50px;" class="dropdown-content2">
    <a href="/diachichinhanhggmap"><img style="width:50px;height:50px;border-radius:50px" src="/img/diachi_menu.gif"title="Địa Chỉ Cửa Hàng"></a>
    <a href="tel:0939 266 625"><img style="width:50px;height:50px;border-radius:5px" src="/img/phone_menu.png" title="SĐT: 093 110 3224"></a>
    <a href="https://zalo.me/0931103224"><img style="width:50px;height:50px;border-radius:50px" src="/img/logo_zalo.png"title="https://zalo.me/0931103224"></a>
    <a id="popup-button" onclick="showPopup()">
      <img style="width:50px;height:50px;border-radius:5px" src="/img/email_menu3.gif"title="Gửi Email">
    </a>
  </div>
</div>
<!--ĐOẠN CODE TẠO MENU BUTTON GIÚP LÀM GỌN 4 BUTTON TRONG 1 MENU-->

<!--ĐOẠN CODE TẠO THÔNG BÁO ĐỂ CHỌN 2 LỰA CHỌN GỬI EMAIL - TÍCH HỢP CÙNG MENU ĐỂ HIỂN THỊ THÔNG BÁO-->

<div id="popup-overlay">
  <div id="popup-content">
    <span id="close-button" onclick="hidePopup()">&#10006;</span>
    <h3 style="color:#3bfff4"><strong><span style="font-size:28px;color:#ffbb00">TYN COFFEE STORE </span>- XIN CHÀO QUÝ KHÁCH</strong></h3>
    <div class="button-container">
      <a href="/contact">
        <button style="width:300px;height:80px;border-radius:50px;border: 5px solid blue;" onclick="hidePopup()"><strong style="font-size:18px">Gửi Email Góp Ý Hoặc Ứng Tuyển</strong></button>
      </a>
      <a href="/contact2">
        <button style="width:260px;height:80px;border-radius:50px;border: 5px solid #ffbb00;" onclick="hidePopup()"><strong style="font-size:18px">Đăng Ký Nhận Thông Báo</strong></button>
      </a>
    </div>
    <img style="width:250px;height:200px" src="/img/hello.gif">
  </div>
</div>

<!--ĐOẠN CODE TẠO THÔNG BÁO ĐỂ CHỌN 2 LỰA CHỌN GỬI EMAIL - TÍCH HỢP CÙNG MENU ĐỂ HIỂN THỊ THÔNG BÁO-->

<!-- ĐOẠN CODE NÀY DÀNH CHO MỞ MÁY TÍNH ĐỂ TÍNH TIỀN COFFEE -->

<button style="top: 0;left: 0;position: fixed;width:50px; height:65px;border-radius:5px;margin-left:1445px;margin-top:420px" id="open_calculator">
  <img style="width:60px; height:60px;margin-left:-12.5px" src="/hinhanhtintuc/maytinh.png">
</button>

<div style="margin-left:580px" id="calculator_popup" class="calculator_popup">
  <div class="calculator_content">
    <div class="calculator_header">
      <h3>Máy Tính - TYNCOFFEE</h3>
      <button id="close_calculator">&times;</button>
    </div>
    <div class="calculator-body">
      <input type="text" id="calc_display" readonly>
      <div class="calculator_buttons">
        <button class="calc_button" onclick="appendToDisplay('7')">7</button>
        <button class="calc_button" onclick="appendToDisplay('8')">8</button>
        <button class="calc_button" onclick="appendToDisplay('9')">9</button>
        <button class="calc_button operator" onclick="appendToDisplay('+')">+</button>
        <button class="calc_button" onclick="appendToDisplay('4')">4</button>
        <button class="calc_button" onclick="appendToDisplay('5')">5</button>
        <button class="calc_button" onclick="appendToDisplay('6')">6</button>
        <button class="calc_button operator" onclick="appendToDisplay('-')">-</button>
        <button class="calc_button" onclick="appendToDisplay('1')">1</button>
        <button class="calc_button" onclick="appendToDisplay('2')">2</button>
        <button class="calc_button" onclick="appendToDisplay('3')">3</button>
        <button class="calc_button operator" onclick="appendToDisplay('*')">*</button>
        <button class="calc_button" onclick="appendToDisplay('0')">0</button>
        <button class="calc_button" onclick="appendToDisplay('.')">.</button>
        <button class="calc_button operator" onclick="calculate()">=</button>
        <button class="calc_button operator" onclick="appendToDisplay('/')">/</button>
        <button class="calc_button clear" onclick="clearDisplay()">C</button>
      </div>
    </div>
  </div>
</div>
<!-- ĐOẠN CODE NÀY DÀNH CHO MỞ MÁY TÍNH ĐỂ TÍNH TIỀN COFFEE -->

<!--ĐOẠN CODE NÀY TẠO CHATBOT-->

<button style="top: 0;left: 0;position: fixed;border-radius: 50px;margin-left:1430px;margin-top:520px" id="openButton">
  <img style="width:60px;height:65px;" src="https://cdn-icons-png.flaticon.com/512/8943/8943377.png" alt="Mở Chatbot">
</button>
<div id="chatbotPopup" class="chatbot-popup">
  <div class="chatbot-container">
    <div class="chatbot-header">
      <span class="chatbot-title">Chatbot Hổ Trợ - TYN COFFEE</span>
      <button id="closeButton">&times;</button>
    </div>
    <div id="chatLog" class="chatbot-log"></div>
    <div style="margin-top:-5px" class="user-input-container">
      <div id="chatLog" class="chat-log"></div>
      <input type="text" id="userInput" placeholder="Nhập tin nhắn của bạn...">
      <button id="sendButton">Gửi</button>
    </div>
  </div>
</div>
<!--ĐOẠN CODE NÀY TẠO CHATBOT-->

<!--ĐOẠN CODE NÀY TẠO NÚT ON TOP ĐỂ ĐƯA LÊN ĐẦU TRANG-->
<div>
  <div onclick="topFunction()" id="myBtn">
    <img style="top: 0;left: 0;position: fixed;width:60px;height:60px;margin-left:1440px;margin-top:620px" src="/img/ontopbutton.png" alt="@{/}">
  </div>
</div>
<!--ĐOẠN CODE NÀY TẠO NÚT ON TOP ĐỂ ĐƯA LÊN ĐẦU TRANG-->


<a href="/voucher_gift">
  <img style="top: 0;left: 0;position: fixed;width:200px;height:150px;margin-left:-20px;margin-top:170px;" src="/img/voucher_gift.gif">
</a>


<!-- start footer Area -->
<footer th:fragment="footer" class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div style="margin-left:50px;" class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Thông Tin Liên Hệ</h6>
          <address style="color:white;font-size:16px;">
            SĐT: 093 110 3224<br>
            Email: tyncoffeestore@gmail.com<br>
            Chi Nhánh Đại Diện: 249A Hoàng Văn Thụ, Phường 01, Quận Tân Bình, TP.Hồ Chí Minh
          </address>
        </div>
      </div>
      <div style="margin-left:50px;" class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Về Chúng Tôi</h6>
          <a th:href="login" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Đăng Nhập</h1>
          </a>
          <a th:href="register" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Đăng Ký</h1>
          </a>
          <a th:href="info" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Giới Thiệu</h1>
          </a>
          <a th:href="shop" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Sản Phẩm</h1>
          </a>
          <a th:href="recruit" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Tuyển Dụng</h1>
          </a>
          <a th:href="carts" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Giỏ Hàng</h1>
          </a>
          <a th:href="timkiemsanpham" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Tìm Kiếm</h1>
          </a>
          <a th:href="menu-sanpham" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Menu</h1>
          </a>
          <a th:href="huongdanthanhtoan" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Hướng Dẫn Thanh Toán</h1>
          </a>
        </div>
      </div>



      <div style="top:0;left:0; position:relative;margin-top:-309px;;margin-left:620px;" class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Tìm Hiểu Thêm</h6>
          <a th:href="contact" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Gửi Email Phản Hồi</h1>
          </a>
          <a th:href="contact2" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Đăng Ký Nhận Thông Báo</h1>
          </a>
          <a th:href="ListTinTucCoffee" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Tin Tức</h1>
          </a>
          <a th:href="ListThongTinUuDaiCoffee" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Thông Tin Ưu Đãi</h1>
          </a>
          <a th:href="ListCachPhaCoffee" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Cách Pha COFFEE</h1>
          </a>
          <a th:href="CamHungKhoiNghiep_TYNCOFFEE" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Câu Chuyện Khởi Nghiệp</h1>
          </a>
          <a th:href="voucher_gift" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Mở Voucher May Mắn</h1>
          </a>
          <a th:href="diachichinhanhggmap" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Địa Điểm</h1>
          </a>
          <a th:href="huongdanthanhtoan" style="color:white;font-size:16px;">
            <h1 style="margin-bottom:10px;color:white;font-size:16px;">Thông Tin Giao Hàng</h1>
          </a>
        </div>
      </div>




      <div style="position: absolute;margin-left:850px;" class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget mail-chimp">
          <h6 class="mb-20">Đối tác</h6>
          <ul class="instafeed d-flex flex-wrap">
            <li><a href="https://classiccoffee.com.vn/"><img src="/img/elements/classiccoffe_doitac.jpg"/></a></li>
            <li><a href="https://thecoffeehouse.com/"><img src="/img/elements/coffehouse_doitac.png" alt="@{/}"></a></li>
            <li><a href="https://trungnguyenlegend.com/"><img src="/img/elements/trungnguyen_doitac.jpg" alt="@{/}"></a></li>
            <li><a href="https://congcaphe.com/"><img src="/img/elements/congcafe_doitac.jpg" alt="@{/}"></a></li>
            <li><a href="https://phuclong.com.vn/"><img src="/img/elements/phuclong_doitac.jpg" alt="@{/}"></a></li>
            <li><a href="https://www.highlandscoffee.com.vn/"><img src="/img/elements/highland_doitac.jpg" alt="@{/}"></a></li>
            <li><a href="https://www.nescafe.com/vn/"><img style="background-color:#ffffff" src="/img/elements/nescafe_doitac.png" alt="@{/}"></a></li>
            <li><a href="https://www.vinacafe.com.vn/"><img style="background-color:#ffffff" src="/img/elements/vinacafe_doitac.png" alt="@{/}"></a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
      <h1 style="color:white;font-size:35px;text-align:center;padding-bottom:5px;margin-top:10px;"><strong>THEO DÕI CHÚNG TÔI QUA CÁC NỀN TẢNG</strong></h1>

      <img style="top:0;left:0;position:absolute;width:70px;height:60px;margin-top:2460px;margin-left:500px;" src="img/icon_fb.png">
      <img style="top:0;left:0;position:absolute;width:70px;height:60px;margin-top:2460px;margin-left:590px;" src="img/icon_ig.png">
      <img style="top:0;left:0;position:absolute;width:90px;height:60px;margin-top:2460px;margin-left:680px;" src="img/icon_youtube.png">
      <img style="top:0;left:0;position:absolute;width:70px;height:60px;margin-top:2460px;margin-left:780px;" src="img/icon_tiktok.png">
      <img style="top:0;left:0;position:absolute;width:70px;height:60px;margin-top:2460px;margin-left:870px;" src="img/icon_twitter.png">
      <img style="top:0;left:0;position:absolute;width:70px;height:60px;margin-top:2460px;margin-left:960px;" src="img/icon_zalo2.png">
      <img style="top:0;left:0;position:absolute;width:50px;height:60px;margin-top:2460px;margin-left:1050px;" src="img/locationgg.png">

      <p class="footer-text m-0">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Đồ Án Chuyên Ngành: Bản Quyền Thuộc Về Huỳnh Vĩnh Tiến 2011061897 20DTHB2
      </p>
    </div>
  </div>
</footer>
<!-- End footer Area -->

<div th:fragment="scripts">
  <script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
          crossorigin="anonymous"></script>
  <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{/js/jquery.nice-select.min.js}"></script>
  <script th:src="@{/js/jquery.sticky.js}"></script>
  <script th:src="@{/js/nouislider.min.js}"></script>
  <script th:src="@{/js/countdown.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script th:src="@{/js/gmaps.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/ghichu_script.js}"></script>
  <script th:src="@{/js/button_ontop.js}"></script>
  <script th:src="@{/js/popup_thongbao_2luachon_email.js}"></script>
  <script th:src="@{/js/maytinhpopup.js}"></script>
  <script th:src="@{/js/chatbot_popup.js}"></script>

</div>

</body>

</html>