.calculator_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
  border-radius: 5px;
}

.calculator_content {
  width: 300px;
}

.calculator_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator_header h3 {
  margin: 0;
}

.calculator_buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calc_button {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
}

.operator {
  background-color: #f78c20;
  color: #fff;
}

.clear {
  background-color: #e84c3d;
  color: #fff;
}

#calc_display {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
}