<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header('Admin')">
    <title>Admin</title>
</head>

<body>
<main class="main" id="top">
    <div class="container-fluid px-0">

        <!--  Begin Navbar Left  -->
        <nav th:replace="fragments :: navbar-left">
        </nav>
        <!--  End Navbar Left  -->

        <!--  Begin Navbar Top  -->
        <nav th:replace="fragments :: navbar-top">
        </nav>
        <!--  End Navbar Top  -->

        <!--  Begin Content  -->

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="margin-left:80px;margin-top:30px;"> Email</h3>
                    <input style="margin-left:80px;margin-top:30px;" type="text" id="emailInput" class="form-control" placeholder="Nhập email">
                </div>
                <div class="col">
                    <h3 style="margin-left:80px;margin-top:30px;"> Số điện thoại</h3>
                    <input style="margin-left:80px;margin-top:30px;" type="text" id="phoneNumberInput" class="form-control" placeholder="Nhập số điện thoại">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button style="margin-left:80px;margin-top:0px;" class="btn btn-primary" onclick="convertInput()">Chuyển đổi</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h3 style="margin-left:80px;margin-top:0px;"> Chuyển đổi</h3>
                    <input style="margin-left:80px;margin-top:0px;" type="text" id="convertedInput" class="form-control" readonly>
                </div>
                <div class="input-group-append">
                    <button style="margin-left:80px;margin-top:5px;" class="btn btn-secondary" type="button" onclick="copyText()">Copy</button>
                    <button style="margin-left:10px;margin-top:5px;" class="btn btn-secondary" onclick="resetInput()">Đặt lại</button>
                </div>
            </div>
        </div>

        <h1 style="margin-left:295px;margin-top:10px;">Key: user</h1>
        <ul style="margin-left:295px;margin-top:10px;">
            <a href="https://devtoolcafe.com/tools/des">
                <li style="font-size:25px;">Mã Hóa Và Giải Mã DES</li>
            </a>
            <a href="https://encode-decode.com/des-encrypt-online/">
                <li style="font-size:25px;">Mã Hóa Và Giải Mã DES ( Dự phòng )</li>
            </a>
        </ul>


        <script>
    function convertInput() {
    // Lấy giá trị từ form email và số điện thoại
    var emailValue = document.getElementById("emailInput").value;
    var phoneNumberValue = document.getElementById("phoneNumberInput").value;

    // Chuyển đổi giá trị email
    var convertedEmail = "";
    var emailLength = emailValue.length;
    var phoneNumberLength = phoneNumberValue.length;
    var maxLen = Math.max(emailLength, phoneNumberLength);

    for (var i = 0; i < maxLen; i++) {
        if (i < emailLength) {
            convertedEmail += emailValue[i];
        }

        if (i < phoneNumberLength) {
            convertedEmail += phoneNumberValue[i];
        }
    }

    // Hiển thị giá trị chuyển đổi vào form chuyển đổi
    document.getElementById("convertedInput").value = convertedEmail;

    // Lưu giá trị email, số điện thoại và giá trị chuyển đổi vào localStorage
    localStorage.setItem("emailInput", emailValue);
    localStorage.setItem("phoneNumberInput", phoneNumberValue);
    localStorage.setItem("convertedInput", convertedEmail);
}

// Lấy giá trị đã lưu từ localStorage và hiển thị vào form chuyển đổi
window.onload = function() {
    var savedEmailInput = localStorage.getItem("emailInput");
    var savedPhoneNumberInput = localStorage.getItem("phoneNumberInput");
    var savedConvertedInput = localStorage.getItem("convertedInput");

    document.getElementById("emailInput").value = savedEmailInput;
    document.getElementById("phoneNumberInput").value = savedPhoneNumberInput;
    document.getElementById("convertedInput").value = savedConvertedInput;
};
    </script>




        <!--  End Content  -->

    </div>
</main>
<script th:src="@{/assets/js/phoenix.js}"></script>
</body>

</html>