<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header('Admin')">
    <title>Admin</title>
</head>

<body>
<main class="main" id="top">
    <div class="container-fluid px-0">

        <!--  Begin Navbar Left  -->
        <nav th:replace="fragments :: navbar-left">
        </nav>
        <!--  End Navbar Left  -->

        <!--  Begin Navbar Top  -->
        <nav th:replace="fragments :: navbar-top">
        </nav>
        <!--  End Navbar Top  -->

        <!--  Begin Content  -->

        <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        .close-form {
        position: absolute;
        top:0;
        left:0;
        color: red;  //đây là css dành cho dấu x của form edit
        cursor: pointer;
        margin-left:265px;
        font-size:20px;
        width:15px;
        }

        .taifileexcel{
        position: absolute;
        top:0;
        left:0;
        margin-left:740px;
        margin-top:69px;
        background: none;
        border-radius: 10px;
        border: 2px solid green;
        color:green;
        font-weight:bold;
        font-size:18px;
        }
        </style>

        <div style="margin-left:280px;margin-top:10px;padding-bottom:0px;">
            <h2 style="margin-bottom:5px;">Quản Lý SecretKey</h2>
            <!-- Form page -->
            <div class="form-page">
                <!--<h3>Account Form</h3>-->
                <form action="#" th:action="@{/save}" method="post">
                    <div>
                        <label for="username">Username:</label>
                        <input style="margin-left:4px;" type="email" id="username" name="username" pattern="[a-zA-Z0-9._%+-]+@gmail\.com$" required />
                    </div>
                    <div>
                        <label for="password">Secret Key:</label>
                        <input style="margin-top:3px;" type="text" id="password" name="password" required />
                    </div>
                    <div>
                        <button style="border-radius:10px;" type="submit">Save</button>
                    </div>
                </form>
            </div>

            <!-- List page -->
            <div style="margin-left:320px;margin-top:-133px;" class="list-page">
                <h3>Danh Sách</h3>
                <table id="data-table">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Secret Key</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td>
                            <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
                            <a th:href="@{/delete/{id}(id=${user.id})}"
                               onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="taifileexcel" onclick="exportToExcel()"><img style="width:30px; height:30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Microsoft_Excel_2013-2019_logo.svg/2170px-Microsoft_Excel_2013-2019_logo.svg.png"> Xuất Excel</button>
            </div>

            <!-- Edit form page -->
            <div style=" margin-top:20px;position:relative;" class="edit-page" th:if="${currentPage == 'edit'}">
                <h3>Chỉnh Sửa</h3>
                <span class="close-form" onclick="closeEditForm()">X</span>
                <form action="#" th:action="@{/update}" method="post" th:object="${user}">
                    <input type="hidden" th:field="*{id}"/>
                    <div>
                        <label for="edit-username">Username:</label>
                        <input style="margin-left:4px;" type="email" id="edit-username" th:field="*{username}" pattern="[a-zA-Z0-9._%+-]+@gmail\.com$" required/>
                    </div>
                    <div>
                        <label for="edit-password">Secret Key:</label>
                        <input style="margin-top:3px;" type="text" id="edit-password" th:field="*{password}"/>
                    </div>
                    <div>
                        <button style="border-radius:10px;" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <script>

    function exportToExcel() {
    var table = document.getElementById("data-table");
    var rows = table.rows;

    var data = [];

    data.push(["Quản Lý SecretKey Của Khách Hàng - TYN COFFEE STORE"]);

    for (var i = 0; i < rows.length; i++) {
      var rowData = [];
      rowData.push(rows[i].cells[0].innerText); // Lấy dữ liệu từ cột UserName
      rowData.push(rows[i].cells[1].innerText); // Lấy dữ liệu từ cột SecretKey
      data.push(rowData);
    }

    var worksheet = XLSX.utils.aoa_to_sheet(data);
    var workbook = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");

    // Chuẩn bị dữ liệu để tải xuống
    var wbout = XLSX.write(workbook, { bookType: "xlsx", type: "binary" });
    function s2ab(s) {
      var buf = new ArrayBuffer(s.length);
      var view = new Uint8Array(buf);
      for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xff;
      return buf;
    }

    // Tạo đường dẫn tải xuống
    var blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
    var url = URL.createObjectURL(blob);

    // Tạo đối tượng mô phỏng việc nhấp vào liên kết tải xuống
    var link = document.createElement("a");
    link.href = url;
    link.download = "data.xlsx";
    link.click();

    // Giải phóng tài nguyên
    setTimeout(function () {
      URL.revokeObjectURL(url);
    }, 0);
  }

    function closeEditForm() {
    var editPage = document.querySelector('.edit-page');
    editPage.style.display = 'none';
    }
</script>


        <!--  End Content  -->

    </div>
</main>
<script th:src="@{/assets/js/phoenix.js}"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

</body>

</html>